

    .images{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    img{
    border: 2px solid black;
    border-radius: 15px;
    }

    .h1{
        text-align: center;
        border: 2pc solid rgba(0, 0, 0, 0.829);
        color: brown;
        padding: 1px 1px 1px 2px;
        border-radius: 2px 2px 2px 2px;
      }

      .iv{
        font-size: larger;
        text-indent: 5px;
        word-spacing: 7px;
      }

      .para{
        display: flex;
        justify-content: center;
         align-items:center ;
      }
      iframe{
        border: 2px solid black;
         border-radius: 15px;
      }